<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10S2global</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <button type="button" style="float: right">Log Out</button>
    <button type="button" style="float: right">Log In</button>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
